<ion-header>
  <ion-toolbar>
    <ion-title>Add favorite pairs</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [value]="search()"
      (ionInput)="search.set($event.detail.value || '')"
    />
  </ion-toolbar>
</ion-header>

<ion-content class="overflow-scroll">
  <ion-list [inset]="true">
    @for (item of filteredCodes(); track item.code) {
    <ion-item>
      <ion-checkbox
        [value]="item.code"
        [checked]="favorites()?.includes(item.code)"
        (ionChange)="checkboxChange($event.detail)"
      >
        {{ item.code }}
        <small class="text-ion-text-color-step-200"
          >({{ item.currency }})</small
        >
      </ion-checkbox>
    </ion-item>
    }
  </ion-list>
</ion-content>
