<ion-header [translucent]="true">
  <ion-toolbar class="!pt-4">
    <ion-title>
      <h2 class="font-bold">{{ base() }}/{{ code()?.code }}</h2>
      <p class="text-sm">{{ code()?.currency }}</p>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        color="warning"
        size="small"
        (click)="toggleFavorite()"
      >
        <ion-icon
          [name]="isInFavorite() ? 'star' : 'star-outline'"
          slot="icon-only"
        ></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        size="small"
        routerLink="/chart/{{ counter() }}"
        (click)="expand.emit()"
      >
        <ion-icon name="expand-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <header class="relative text-center p-6 pt-2">
    @if (counterRate(); as ystChange) {
    <strong class="text-4xl">{{ ystChange.rate | number : "1.2-6" }}</strong>
    <p
      class="font-semibold {{
        ystChange.changePercentage === 0
          ? 'text-gray-600'
          : ystChange.changePercentage > 0
          ? 'text-green-600'
          : 'text-red-600'
      }}"
    >
      {{ ystChange.changePercentage * 100 | number : "1.2-2" }}% from yesterday
    </p>
    }
  </header>

  <main>
    <app-line-chart [loading]="chartLoading()" [params]="chartParams()" />

    <app-currency-additional-info />
  </main>
</ion-content>
