<ion-content [fullscreen]="true">
  <h1 class="text-2xl font-bold p-4">Currency Exchange</h1>

  <header class="flex justify-between items-center px-8 font-bold">
    <h2>Favorites</h2>
    @if (favorites(); as favorites) { @if (favorites.length > 0) {
    <button (click)="toggleEdit()" class="header-button">
      {{inEditFavorites() ? 'Done':'Reorder'}}
    </button>
    }}
  </header>
  <ion-list
    [inset]="true"
    class="border border-ion-background-color-step-200 !mt-0.5"
  >
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($event)"
    >
      @for (item of favorites(); track item.code) {
      <ion-item-sliding>
        <ion-item button [detail]="false" (click)="selectedCode.set(item.code)">
          @if (inEditFavorites()) {
          <ion-reorder class="mr-1">
            <ion-icon name="chevron-expand-outline" size="large" />
          </ion-reorder>
          }
          <ion-label>
            <strong>{{base()}}/{{item.code}}</strong>
            <p>{{item.name}}</p>
          </ion-label>
          <div class="flex flex-col items-end">
            <ion-text class="font-medium">{{item.rate}}</ion-text>
            @if (ystChangeRate()?.[item.code]; as ystChange) {
            <small
              class="text-sm"
              [ngClass]="ystChange.changePercentage === 0 ? 'text-gray-600': ystChange.changePercentage > 0 ? 'text-green-600': 'text-red-600'"
              >{{ystChange.changePercentage *100| number : '1.2-2'}}%
            </small>
            }
          </div>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option
            color="danger"
            expandable="true"
            (click)="removeFavorite(item.code)"
          >
            <ion-icon slot="icon-only" name="trash-outline" />
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      } @empty {
      <ion-item>
        <div class="w-full p-4 text-center">
          <ion-icon name="color-wand-outline" size="large" />
          <p>Quickly check favorites pairs here</p>

          <ion-button (click)="showAddFavoriteSheet.set(true)">
            <ion-icon name="add-circle-outline" class="mr-1" /> Add pairs
          </ion-button>
        </div>
      </ion-item>
      }
    </ion-reorder-group>
  </ion-list>

  <header class="flex justify-between items-center px-8 font-bold">
    <h2>All currencies</h2>

    @if (codesWithRate(); as codes) { @if (codes && codes.length > 10) {
    <button class="header-button">View all</button>
    } }
  </header>

  <ion-list
    [inset]="true"
    class="border border-ion-background-color-step-200 !mt-2"
  >
    @for (item of codesWithRate()?.slice(0, 10); track item.code) {
    <ion-item button [detail]="false" (click)="selectedCode.set(item.code)">
      <ion-label>
        <strong>{{base()}}/{{item.code}}</strong>
        <p>{{item.name}}</p>
      </ion-label>
      <div class="flex flex-col items-end">
        <ion-text class="font-medium">{{item.rate}}</ion-text>
        @if (ystChangeRate()?.[item.code]; as ystChange) {
        <small
          class="text-sm"
          [ngClass]="ystChange.changePercentage === 0 ? 'text-gray-600': ystChange.changePercentage > 0 ? 'text-green-600': 'text-red-600'"
          >{{ystChange.changePercentage *100| number : '1.2-2'}}%
        </small>
        }
      </div>
    </ion-item>
    } @empty {
    <ion-item>
      <div class="w-full p-4 text-center">
        <ion-icon name="refresh-outline" size="large" />
        <p>Loading...</p>
      </div>
    </ion-item>
    }
  </ion-list>

  <p class="m-4 mt-0 text-center text-ion-text-color-step-500">
    Latest update at<br />
    {{lastUpdateAt$|async}} (refreshes in {{refreshCountdown$|async}}s)
  </p>
</ion-content>

<ion-modal
  [isOpen]="showAddFavoriteSheet()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]"
  (ionModalDidDismiss)="showAddFavoriteSheet.set(false)"
>
  <ng-template>
    <app-currency-list-sheet />
  </ng-template>
</ion-modal>

<ion-modal
  [isOpen]="!!selectedCode()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]"
  (ionModalDidDismiss)="selectedCode.set(null)"
>
  <ng-template>
    @if (selectedCode(); as selectedCode) {
    <app-currency-detail-sheet [counter]="selectedCode" />
    }
  </ng-template>
</ion-modal>
