<ion-content [fullscreen]="true">
  <div
    class="py-2 px-6 rounded-b-2xl mb-4 bg-gradient-to-br from-ion-color-primary-contrast to-ion-color-primary-shade text-ion-color-primary-tint"
  >
    <img
      src="/assets/icon/favicon.png"
      alt="active8me logo"
      width="60"
      height="60"
      class="mt-4 mb-2"
    />
    <h1 class="text-2xl font-bold">Currency Exchange</h1>
    <p class="mb-4">Hola! Curex is all you need for trading career</p>
    <header class="flex justify-between items-center px-4 font-bold">
      <h2>Favorites</h2>
      @if (favorites(); as favorites) { @if (favorites.length > 0) {
      <button (click)="toggleEdit()" class="header-button">
        {{inEditFavorites() ? 'Done':'Reorder'}}
      </button>
      }}
    </header>
    <ion-list [inset]="true" class="!mx-0 !mt-1 bg-secondary">
      <ion-reorder-group
        [disabled]="false"
        (ionItemReorder)="handleReorder($event)"
      >
        @for (item of favorites(); track item.code) {
        <ion-item-sliding>
          @if (ystChangeRate()?.[item.code]; as ystChange) {
          <ion-item
            button
            [detail]="false"
            (click)="selectedCode.set(item.code)"
          >
            @if (inEditFavorites()) {
            <ion-reorder class="mr-1">
              <ion-icon name="chevron-expand-outline" size="large" />
            </ion-reorder>
            }
            <ion-label>
              <strong>{{base()}}/{{ystChange.code}}</strong>
              <p>{{item.currency}}</p>
            </ion-label>
            <div class="flex flex-col items-end">
              <ion-text class="font-medium"
                >{{ystChange.rate| number : '1.2-6'}}</ion-text
              >
              <small
                class="text-sm"
                [ngClass]="ystChange.changePercentage === 0 ? 'text-gray-600': ystChange.changePercentage > 0 ? 'text-green-600': 'text-red-600'"
                >{{ystChange.changePercentage *100| number : '1.2-2'}}%
              </small>
            </div>
          </ion-item>
          <ion-item-options slot="end">
            <ion-item-option
              color="danger"
              expandable="true"
              (click)="removeFavorite(item.code)"
            >
              <ion-icon slot="icon-only" name="trash-outline" />
            </ion-item-option>
          </ion-item-options>
          }
        </ion-item-sliding>
        } @empty {
        <ion-item>
          <div class="w-full pt-4 text-center">
            <ion-icon name="color-wand-outline" size="large" />
            <p>Quickly check favorites pairs here</p>
          </div>
        </ion-item>
        }
      </ion-reorder-group>
      <ion-button
        fill="clear"
        expand="full"
        (click)="showAddFavoriteSheet.set(true)"
      >
        <ion-icon name="add-circle-outline" class="mr-1" /> Add pairs
      </ion-button>
    </ion-list>
  </div>

  <header class="flex justify-between items-center px-8 font-bold">
    <h2 class="text-ion-text-color-step-500">All currencies</h2>
  </header>

  <ion-list
    [inset]="true"
    class="border border-ion-background-color-step-200 !mt-2"
  >
    @for (item of codesWithRate()?.slice(0, allCurrencyExpanded() ? 10000:
    CURRENCY_LIMIT); track item.code) {
    <ion-item button [detail]="false" (click)="selectedCode.set(item.code)">
      @if (ystChangeRate()?.[item.code]; as ystChange) {
      <ion-label>
        <strong>{{base()}}/{{item.code}}</strong>
        <p>{{item.currency}}</p>
      </ion-label>
      <div class="flex flex-col items-end">
        <ion-text class="font-medium"
          >{{ystChange.rate| number : '1.2-6'}}</ion-text
        >
        <small
          class="text-sm"
          [ngClass]="ystChange.changePercentage === 0 ? 'text-gray-600': ystChange.changePercentage > 0 ? 'text-green-600': 'text-red-600'"
          >{{ystChange.changePercentage *100| number : '1.2-2'}}%
        </small>
      </div>
      }
    </ion-item>
    } @empty {
    <ion-item>
      <div class="w-full p-4 text-center">
        <ion-icon name="refresh-outline" size="large" />
        <p>Loading...</p>
      </div>
    </ion-item>
    } @if (codesWithRate(); as codes) { @if (codes && codes.length >
    CURRENCY_LIMIT) {
    <ion-button
      fill="clear"
      expand="full"
      (click)="allCurrencyExpanded.set(!allCurrencyExpanded())"
      >View {{allCurrencyExpanded() ? 'less': 'more'}}</ion-button
    >
    } }
  </ion-list>
  <p class="text-center pb-4">
    <ion-note class="m-4 mt-0">
      Latest update at<br />
      {{lastUpdateAt$|async}} (refreshes in {{refreshCountdown$|async}}s)
    </ion-note>
  </p>
</ion-content>

<ion-modal
  [isOpen]="showAddFavoriteSheet()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]"
  (ionModalDidDismiss)="showAddFavoriteSheet.set(false)"
>
  <ng-template>
    <app-currency-list-sheet />
  </ng-template>
</ion-modal>

<ion-modal
  #detailModal
  [isOpen]="!!selectedCode()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]"
  (ionModalDidDismiss)="selectedCode.set(null)"
>
  <ng-template>
    @if (selectedCode(); as selectedCodeVar) {
    <app-currency-detail-sheet
      [counter]="selectedCodeVar"
      (expand)="detailModal.dismiss()"
    />
    }
  </ng-template>
</ion-modal>
