<ion-header [translucent]="true">
  <ion-toolbar class="pb-2">
    <ion-title>
      <h2 class="font-bold text-sm">{{ base() }}/{{ code()?.code }}</h2>
      <p class="text-xs font-normal">{{ code()?.currency }}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <h2 class="font-bold">{{ base() }}/{{ code()?.code }}</h2>
        <p class="text-sm font-normal">{{ code()?.currency }}</p></ion-title
      >
      <ion-button
        fill="clear"
        color="warning"
        slot="end"
        (click)="toggleFavorite()"
        class="mr-2"
      >
        <ion-icon
          [name]="isInFavorite() ? 'star' : 'star-outline'"
          size="large"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <header class="relative pt-2 px-4 mb-8">
    @if (counterRate(); as ystChange) {
    <strong class="text-4xl">{{ ystChange.rate | number : "1.2-6" }}</strong>
    <span
      class="font-semibold {{
        ystChange.changePercentage === 0
          ? 'text-gray-600'
          : ystChange.changePercentage > 0
          ? 'text-green-600'
          : 'text-red-600'
      }}"
    >
      ({{ ystChange.changePercentage * 100 | number : "1.2-2" }}%)
    </span>
    }
  </header>

  <app-line-chart [params]="chartParams()" [loading]="chartLoading()" />

  <ion-segment
    #dayFilter
    (ionChange)="dayFilterChanged($event)"
    value="7"
    class="w-fit mx-auto"
  >
    <ion-segment-button value="7">
      <ion-label>7D</ion-label>
    </ion-segment-button>
    <ion-segment-button value="30">
      <ion-label>30D</ion-label>
    </ion-segment-button>
    <ion-segment-button value="90">
      <ion-label>90D</ion-label>
    </ion-segment-button>
    <ion-segment-button value="custom">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
  </ion-segment>

  @if (dayFilter.value === 'custom') {
  <div class="mt-2 flex justify-center items-center gap-3">
    <ion-datetime-button datetime="start-date" />
    to
    <ion-datetime-button datetime="end-date" />
  </div>
  }

  <app-currency-additional-info class="block pb-16" />
</ion-content>

<ion-modal
  [keepContentsMounted]="true"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <ng-template>
    <ion-datetime
      presentation="date"
      id="start-date"
      [showDefaultButtons]="true"
      [max]="startEndDates()[1]"
      (ionChange)="setCustomDate('start', $event.detail.value)"
    />
  </ng-template>
</ion-modal>

<ion-modal
  [keepContentsMounted]="true"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <ng-template>
    <ion-datetime
      presentation="date"
      id="end-date"
      [showDefaultButtons]="true"
      [min]="startEndDates()[0]"
      [max]="tomorrow"
      (ionChange)="setCustomDate('end', $event.detail.value)"
    />
  </ng-template>
</ion-modal>
